.nav {
  display: inline-block;
}
body { padding-bottom: 70px; }

footer{
  font-size: 14px;
  background: rgb(254,254,254);
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(202,202,244,1) 35%, rgba(180,233,244,1) 100%);
}
.fotterText{
  font-size: 10px;
  margin: 0px;
  background: rgb(254,254,254);
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(202,202,244,1) 35%, rgba(180,233,244,1) 100%);

}
.mainTitle{
  text-align: right;
  margin-right: 10%;
  margin-top: 15px;
  display: grid;
  color: rgb(23, 24, 24);
  text-shadow: 5px 5px 5px #b4e9f4;
}
.title-logo{
  height: 50px;
  vertical-align: auto;
  display: flexbox;
  margin-left: 85%;
}
.error{
  padding: 2px;
  font-size: x-small;
  display: inline-block;
}
.search{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.5em;
}
.department{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.departments{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.art-btn{
  display: grid;
}
.description{
  margin:0px;
  text-align: right;
}
.work-desc{
  position: relative;
  display: block;
  
}
.work-img:hover ~ .work-desc{
  display: block;
  position: relative;
  font-size: 1em;
  color: black;
}

/*for smartphones subtitute hover action for click*/

.work_full{
  
  width: auto;
}
.home{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.home-img{
  width: 100%;
  align-items: center;
}

.header{
  background-image: url(./components/images/date-night.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-title{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
}
body{
  background: rgb(254,254,254);
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(202,202,244,1) 35%, rgba(180,233,244,1) 100%);
  
}
NavLink{
  text-decoration: none;
}
.nav-element{
  font-size: 1.5em;
}
.department-results{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 1rem;
}
.searchResults{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: auto;
}
.work_full{
  margin-top: 30px;
  width: 50%;
}
.work-img{
  width: 100%;
  
}
.work_full:hover{
  background-color: #b4e9f46a;
}
.work-title{
  text-align: center;
  font-size: 3rem;
}
.fav-btn{
  display: block;
  margin: 0;
  margin-bottom: 10px;
  width: 60%;
  align-items: center;
  transform: translateX(55%);
}
.details{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.show-me{
  margin-top: 10px;
  margin-bottom: 10px;
}
.loading{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
input{
  font-size: 1em;
}
option{
  font-size: 1em;
}
.departments{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.5em;
}
.btn-primary{
  margin-bottom:5px;
}
@media screen and (max-width: 600px) {
  .work-desc{
    display: block;
    position: relative;
    font-size: 1em;
    color: black;
  }
  .departmentResults{
    display: block;
    width: 100%;
    margin: 0;
  }
  .searchResults{
    display: block;
    width: 100%;
    margin: 0;
    background-color: #b4e9f46a;
  }
  .work-img{
    display: block;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    position: relative;

  }
  .work-title{
    text-align: left;
    width: 50%;
  }
  .work_full{
    width: 100%;
  }
  .details{
    display: none;
  }
  .work-title{
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  .fav-btn{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 60%;
    align-items: left;
    transform: translateX(50%);
  }
  .btn-primary{
    margin-bottom:5px;
  }

}